div.carousel-inner {
    padding: 10px;
    margin: 10px;
}

#staticOrderCol {
    left:20px;
}

.errorText{
    color : red;
    font-weight: bold;
    font-size: 14px;
}

.choosed {
    border:  greenyellow;
}